{% extends "body.html" %} {% block content %}
<h1>O projekcie</h1>
<p>
    Projekt powstał na potrzeby edukacyjne i ma charakter czysto poglądowy. Autor serwisu nigdy nie programował w Django - jest to jego pierwsza aplikacja webowa napisana w tym framework'u.
    Wszelkie pytania co do projektu nalezy nadsyłać na adres mailowy podany w zakładce <a href="/contact">kontakt</a>
</p>

{% endblock %}