{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {% if edit %}
        <h1>Edit Student</h1>
        {% else %}
        <h1> Add student</h1>
        {% endif %}
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}
        {% if edit %}
        <form action="/edit-student/?id={{id}}" method="post">
        {% else %}
        <form action="/add-student/" method="post">
        {% endif %}
        {% csrf_token %}
        {% load get_data %}
            <div class="form-group ">
                <label class="control-label requiredField" for="firstname">
       First name
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="fristname" name="fristname" type="text" value="{% get_data 'fristname' data %}" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="lastname">
       Last name
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="lastname" name="lastname" type="text" value="{% get_data 'lastname' data %}" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="email" name="email" type="text" value="{% get_data 'email' data %}" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="password">
       Password
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="password" name="password" type="password" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="password2">
       Retype password
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="password2" name="password2" type="password" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="addressline">
       Address
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="addressline" name="addressline" type="text" value="{% get_data 'addressline' data %}" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="city">
       City
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="city" name="city" type="text" value="{% get_data 'city' data %}" />
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="zipcode">
       Zip code (in XXYYY format)
       <span class="asteriskField">
        *
       </span>
      </label>
                <input class="form-control" id="zipcode" name="zipcode" type="text" value="{% get_data 'zipcode' data %}"/>
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="faculty_idfaculty">
       Faculty name
       <span class="asteriskField">
        *
       </span>
      </label>
                <select class="select form-control" id="id_faculty_idfaculty" name="faculty_idfaculty">
        {% if edit %}
        {% get_data 'faculty_idfaculty' data as selectedid %}    
        {% for faculty in options %}
        {% if faculty.pk == selectedid %}
       
       <option value="{{faculty.pk}}" selected>
        {{faculty}}
       </option>
       {% else %}
        <option value="{{faculty.pk}}">
        {{faculty}}
       </option>
       {% endif %}
       {% endfor %}
       {% else %}
       {% for faculty in options %}
        {% if faculty.pk|slugify == id|slugify %}
        {{id}}
       <option value="{{faculty.pk}}" selected>
        {{faculty}}
       </option>
       {% else %}
        <option value="{{faculty.pk}}">
        {{faculty}}
       </option>
        {% endif %}
       {% endfor %}
       {% endif %}
      </select>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-primary " name="submit" type="submit"><span class="glyphicon glyphicon-ok"></span>
        Submit
       </button>
                    <a href="/" class="btn btn-default" name="home"><span class="glyphicon glyphicon-home"></span>
        Go to homepage
       </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}