{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <form action="/add-faculty/" method="post">
            {% csrf_token %}
            <div class="form-group ">
                <label class="control-label " for="facultyname">
       Faculty name
      </label>
      <input class="form-control" id="facultyname" name="facultyname" value="{{faculty}}" type="text" required />
                <span class="help-block" id="hint_name">
       Enter the name of faculty
      </span>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-primary " name="submit" type="submit"><span class="glyphicon glyphicon-ok"></span>
        Submit
       </button>
        <a href="/" class="btn btn-default" name="home"><span class="glyphicon glyphicon-home"></span>
        Go to homepage
       </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}