{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Operation successful!</h1>
        <div class="alert alert-success alert-dismissable" role="alert">
				<p>Great! {{name}} faculty has been added!</p>
		</div>
        <div class="btn-group">
                    <a href="/add-faculty/" class="btn btn-primary " name="next-faculty" type="submit">
        Add next faculty
       </a>
                  <a href="/" class="btn btn-default " name="home"><span class="glyphicon glyphicon-home"></span>
        Go to homepage
       </a>
                </div>
    </div>
</div>
{% endblock %}