{% include "head.html" %}
<body>
    {% include "navbar.html" %}
    <div class="page-header">
        <div class="container" style="padding-bottom: 60px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include "footer.html" %}