{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-xs-4 col-sm-2 col-md-4">
        <img class="img-responsive" src="{% static 'img/me.jpeg' %}" alt="me">
    </div>
    <div class="col-xs-8 col-sm-10 col-md-8">
        <h1> O mnie</h1>
        <p> Adrian Kastrau <br> Politechnika Gdańska <br> Wydział Fizyki Technicznej i Matematyki Stosowanej<br> Informatyka
            Stosowana
            <br> E-mail: adrkastr[na]student[kropka]pg[kolejna kropa]gda[ostatnia kropka]pl
        </p>
    </div>
</div>
{% endblock %}