{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Error occurred!</h1>
        <div class="alert alert-danger alert-dismissable" role="alert">
				<p>{{error}}</p>
		</div>
        <div class="btn-group">
                  <a href="/" class="btn btn-default " name="home"><span class="glyphicon glyphicon-home"></span>
        Go to homepage
       </a>
                </div>
    </div>
</div>
{% endblock %}