{% load static %}
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2017 - Adrian Kastrau
            <br>
            <a href="/about">O projekcie</a>
            <span>|</span>
            <a href="/contact">Kontakt</a>
        </p>
        <div class="navbar-brand pull-right">
            <a href="https://www.djangoproject.com">
                <img src="{% static 'img/logo-django.svg' %}" alt="logo-django"/>
            </a>
        </div>
        <p class="navbar-text pull-right"> Serwis napędzany przez </p>
    </div>
</div>

    <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="js/scripts.js"></script>-->
    </body>

    </html>