{% extends "body.html" %}
{% block content %}
<div class="jumbotron well">
    <h2>
        Bazy - projekt
    </h2>
    <p>
        Projekt wykonywany w ramach przedmiotu "Programowanie baz danych" w roku akademickim 2016/2017.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="/about">Więcej informacji</a>
    </p>
</div>
{% endblock %}