{% load static %}
<!-- navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/python-logo.png' %}" alt="logo-python" style="max-width:100px; margin-top: -7px; display: inline-block;"
                />
                <span style="display: inline-block;">Projekt Django</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Strona głowna</a></li>
                 <li><a href="/view-faculties"><span class="glyphicon glyphicon-list">&ensp;</span>Show all faculties</a></li>
                 <li><a href="/view-students"><span class="glyphicon glyphicon-education">&ensp;</span>Student list</a></li>
                <li><a href="/search-students"><span class="glyphicon glyphicon-search">&ensp;</span>Search - students</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/add-faculty"><span class="glyphicon glyphicon-plus">&ensp;</span>Add faculty</a></li>
                        <li><a href="/view-faculties"><span class="glyphicon glyphicon-list">&ensp;</span>Show all faculties</a></li>
                        <li><a href="/add-student"><span class="glyphicon glyphicon-user">&ensp;</span>Add student</a></li>
                        <li><a href="/view-students"><span class="glyphicon glyphicon-education">&ensp;</span>Student list</a></li>
                        <li><a href="/search-students"><span class="glyphicon glyphicon-search">&ensp;</span>Search - students</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>