{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h1> Search students</h1>
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}
        <form method="get" action="/search-students/">
            <div class="form-group ">
                <label class="control-label " for="searchFirstName">
       First name
      </label>
                <input class="form-control" id="searchFirstName" name="searchFirstName" type="text" />
            </div>
            <div class="form-group ">
                <label class="control-label " for="searchLastName">
       Last name
      </label>
                <input class="form-control" id="searchLastName" name="searchLastName" type="text" />
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary " name="submit" type="submit" value="1"><span class="glyphicon glyphicon-search"></span>
        Search
       </button>
                </div>
            </div>
        </form>
        <br>
        {% if result %}
        <h1> List of students</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a>Info</a></th>
                    <th><a>First name</a></th>
                    <th><a>Last name</a></th>
                    <th><a>Faculty</a></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td><a href="/view-students?id={{student.pk}}"><span class="glyphicon glyphicon-eye-open">&ensp;</span></a></td>
                    <td>{{student.fristname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.faculty_idfaculty}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif result == False %}
        <h1>No results!</h1>
        {% endif %}
    </div>
</div>
{% endblock %}