{% extends "body.html" %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Student info</h1>
        <p>First name: {{student.fristname}}<br> Last name: {{student.lastname}}<br> Email address: {{student.email}} <br> Password:
            ****** (hidden)<br> Address: {{student.addressline}}<br> City: {{student.city}}<br> Zip code: {{student.zipcode}}<br>            Faculty: {{student.faculty_idfaculty}}<br>

            <div class="btn-group">
                <a href="/edit-student/?id={{student.pk}}" class="btn btn-primary" name="edit-student"><span class="glyphicon glyphicon-edit"></span>
        Edit
       </a>
                <a href="/view-students" class="btn btn-default" name="student-list"><span class="glyphicon glyphicon-education"></span>
        Go to student list
       </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
  <span class="glyphicon glyphicon-trash"></span> Delete student
</button>

                <!-- Modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="deleteLabel">Delete student?</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete {{student.fristname}} {{student.lastname}}?
                            </div>
                            <div class="modal-footer">
                                <form action="/delete-student/" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" value="{{student.pk}}" name="id"><span class="glyphicon glyphicon-ok"></span>Yes</button>
                                    <button type="button" class="btn btn-danger" onclick='' data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
    {% endblock %}