{% extends "body.html" %} {% block content %} {% load static %}
<h1> Faculties</h1>
<table class="table table-hover">
    <thead>
      <tr>
          {% if sort == 'asc' %}
        <th><a href="/view-faculties/?sort=desc">Faculty name<span class="glyphicon glyphicon-menu-up"></span></a></th>
          {% elif sort == 'desc' %}
          <th><a href="/view-faculties/?sort=asc">Faculty name<span class="glyphicon glyphicon-menu-down"></span></a></th>
          {% else %}
           <th><a href="/view-faculties/?sort=desc">Faculty name<span class="glyphicon glyphicon-menu-up"></span></a></th>
           {% endif %}
      </tr>
    </thead>
    <tbody>
     {% for faculty in faculties %}
     <tr>
         <td><a href="/view-students/?from_faculty={{faculty.pk}}">{{faculty}}</a></td>
     </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock %}