 {% extends "body.html" %} {% block content %} {% load static %}
 {% if result %}
        <h1> List of students</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a>Info</a></th>
                    <th><a>First name</a></th>
                    <th><a>Last name</a></th>
                    <th><a>Faculty</a></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td><a href="/view-students?id={{student.pk}}"><span class="glyphicon glyphicon-eye-open">&ensp;</span></a></td>
                    <td>{{student.fristname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.faculty_idfaculty}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif result == False %}
        <h1>No results!</h1>
        {% endif %}
{% endblock %}