{% extends "body.html" %} {% block content %} {% load static %}
<h1> List of students</h1>
<table class="table table-hover">
    <thead>
      <tr>
          <th><a>Info</a></th>
          {% if sortFirstName == 'asc' %}
        <th><a href="/view-students/?sortFirstName=desc">First name<span class="glyphicon glyphicon-menu-up"></span></a></th>
          {% elif sortFirstName == 'desc' %}
          <th><a href="/view-students/?sortFirstName=asc">First name<span class="glyphicon glyphicon-menu-down"></span></a></th>
          {% else %}
           <th><a href="/view-students/?sortFirstName=desc">First name<span class="glyphicon glyphicon-menu-up"></span></a></th>
           {% endif %}
        {% if sortLastName == 'asc' %}
        <th><a href="/view-students/?sortLastName=desc">Last name<span class="glyphicon glyphicon-menu-up"></span></a></th>
          {% elif sortLastName == 'desc' %}
          <th><a href="/view-students/?sortLastName=asc">Last name<span class="glyphicon glyphicon-menu-down"></span></a></th>
          {% else %}
           <th><a href="/view-students/?sortLastName=desc">Last name<span class="glyphicon glyphicon-menu-up"></span></a></th>
           {% endif %}
        {% if sortEmail == 'asc' %}
        <th><a href="/view-students/?sortEmail=desc">Email address<span class="glyphicon glyphicon-menu-up"></span></a></th>
          {% elif sortEmail == 'desc' %}
          <th><a href="/view-students/?sortEmail=asc">Email address<span class="glyphicon glyphicon-menu-down"></span></a></th>
          {% else %}
           <th><a href="/view-students/?sortEmail=desc">Email address<span class="glyphicon glyphicon-menu-up"></span></a></th>
           {% endif %}
        {% if sortFaculty == 'asc' %}
        <th><a href="/view-students/?sortFaculty=desc">Faculty<span class="glyphicon glyphicon-menu-up"></span></a></th>
          {% elif sortFaculty == 'desc' %}
          <th><a href="/view-students/?sortFaculty=asc">Faculty<span class="glyphicon glyphicon-menu-down"></span></a></th>
          {% else %}
           <th><a href="/view-students/?sortFaculty=desc">Faculty<span class="glyphicon glyphicon-menu-up"></span></a></th>
           {% endif %}
      </tr>
    </thead>
    <tbody>
     {% for student in students %}
     <tr>
         <td><a href="/view-students?id={{student.pk}}"><span class="glyphicon glyphicon-eye-open">&ensp;</span></a></td>
         <td>{{student.fristname}}</td>
         <td>{{student.lastname}}</td>
         <td>{{student.email}}</td>
         <td>{{student.faculty_idfaculty}}</td>
     </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock %}